@import "Styles/main";
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-weight: 200;
}

html {
  font-size: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: $color-text-dark;
  box-sizing: border-box;
  max-width: 60rem;
  padding: 1rem 2rem;
  margin: 0 auto;
  background-color: $color-bg-light;
  overflow-x: hidden;
  overflow-y: scroll;
}

p {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
